body {
	display: flex;
	flex-wrap: wrap;
	justify-content:space-around;

}
.header {
	background-color: red;
	height: 10rem;
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 99%;
}
.main {
	background-color: blue;
	height: 35rem;
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 69%;
}
.aside {
	background-color: green;
	height: 35rem;;
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 29%;
}
.footer {
	background-color: yellow;
	height: 10rem;;
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 99%;
}
