body {
    color: lightslategrey;
}
main {
    text-align: center;
    width: 40%;
    margin:auto;
    border: 1px solid grey;
    background: whitesmoke;
    position: relative;
    top: 100px;
}
h1,h4 {
    text-align:left;
    margin: 15px 15px 0 40px;
    color: lightslategrey;
    padding: 0;

}
form {
    display:grid;
    margin: 15px;
    width: 70%;
    position: relative;
    left: 70px;
}
input {
    padding: 10px;
    margin-bottom: 10px;
}
.ok {
   margin:10px;
    position: relative;
    right: 90px;
    top: 35px;
}
.small {
    margin:10px;
    position: relative;
    right: 80px;
    top: 30px;
}
span {
    text-align:left;
}
input[type="submit"] {
    background:indianred;
    width: 50%;
    border-radius: 10px;
    margin-top: 20px;
}
select {
    padding: 10px;
}